
        @import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
        body::before {
            content: '';
            position: fixed; /* Фиксируем на одном месте */
            left: 0; right: 0; /* Вся ширин */
            top: 0; bottom: 0; /* Вся высота */
            z-index: -1; /* Фон ниже текста */
            /* Параметры фона */
           /* background: url(../back.jpg);*/
            background-size: cover;
            background-repeat: no-repeat;
            filter: blur(4px); /* Размытие */
           }
        body 
        {
            box-sizing: border-box;
        }
        header 
        {
            padding-top: 53px;
            display: flex;
            flex-direction: row;
            position: relative;
            height: 50px;
            position: relative;
        }
        .logo 
        {
            font-family: 'Unica One', cursive;
            font-size: 48px;
            width: 93px;
            user-select: none;
        }
        .what_to_do button:hover 
        {
                box-shadow: 0px 0px 40px rgb(0 0 0 / 25%);
        }
        .menu 
        {
            margin-left: 143px;
            display: flex;
            flex-direction: row;
        }

        .back 
        {
            margin-left: 25px;        
        }
        .back:hover 
        {
            text-decoration: underline;
        }
        body 
        {
            color: black;
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100vh;
            min-height: 800px;
        }
        @keyframes bigger {
            0% {transform: rotate(0deg) }
            25%  { transform: rotate(45deg) } /* ignored */
            50%  { transform: rotate(0deg) }
            75%  { transform: rotate(-45deg) }
            to   { transform: rotate(0deg) }
        }
        @font-face {
            font-family: UbuntuBold; /* Имя шрифта */
            src: url(../fonts/ubuntu.bold.ttf); /* Путь к файлу со шрифтом */
        }
        @font-face {
            font-family: UbuntuRegular; /* Имя шрифта */
            src: url(../fonts/ubuntu.regular.ttf); /* Путь к файлу со шрифтом */
        }
        .left p, .desc 
        {
                
             color: #404040;
        }
        button, li
        {
            cursor: pointer;
        }
        .list 
        {
            list-style-type: none;
        }
        .back 
        {
            font-family: 'UbuntuBold';
            font-size: 20px;
            
        }
        .what_to_do button 
        {
                padding: 30px 20px;
                background: linear-gradient(
            90deg
            , #00F5A0 0%, #00D9F5 100%);
                background: linear-gradient( 
90deg
 , #f500c0 0%, #8000f5 100%);
     background: linear-gradient( 
90deg
 , #55be53 0%, #74c753 100%);
                background: linear-gradient( 
                90deg
                , #72abe5 0%, #2474eb 100%);
                background: linear-gradient(90deg, #36D1DC 0%, #5B86E5 100%);
                box-shadow: 0px 0px 10px rgb(0 0 0 / 25%);
                border-radius: 20px;
                color: white;
                font-size: 25px;
                margin-top: 53px;
                box-sizing: border-box;
        }
        .what_to_do 
        {
            display: flex;
            flex-direction: row;
            margin-top: 129px;
        }
        .right img 
        {
            margin-top: -110px;
            margin-left: 83px;
            filter: drop-shadow(0px 0px 30px #FFFFFF);
            width:500px;
        }
        .wrapper
        {
            width: 1200px;
            margin:0 auto;
        }
        h2
        {
            font-family: 'UbuntuBold';
            font-size: 48px;
        }
        button, button:active, button:focus { border:none; outline: none; }
        .list li 
        {
            margin-right: 18px;
        }
        .list 
        {
            display: flex;
            flex-direction: row;
            margin-top: 58px;
        }
        .desc 
        {
            width: 200px;
            height: 50px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            font-family: 'UbuntuRegular';
            font-size: 16px;
        }
        .left p 
        {
            font-size: 20px;
            font-family: 'UbuntuRegular';
        }
        .name 
        {
            font-family: 'UbuntuRegular';
            font-size: 16px;
        }
        .why_us 
        {
            width: 100%;
        }
        .list 
        {
                        display: flex;
            justify-content: space-between;
        }
        .image
        {
            display: flex;
            justify-content: center;
        }
        .desc 
        {
            text-align: center
        }
        .list .image img
        {
            width: 63px;
            height: 64px;
        }
        .profile
        {
            display: flex;
            flex-direction: row;

        }
        .profile .name 
        {
            text-align: center;
        }
        .profile 
        {
            position: absolute; 
            right: 0;         
        }
        .name 
        {
            display: flex;
            align-items: center;
            margin-right: 10px;
            font-size: 24px;
        }
        .profile .image img 
        {
            width: 44px;
            height: 44px;
        }
        li:hover img 
        {
            animation-name: bigger;
            animation-duration: 2s;
            animation-delay: 0s;
        }
        .why_us
        {
            padding-bottom: 20px;
        }